<div class="appHeader">
    <a href="#/author/list" data-ng-class="{ 'selected': vm.currentPath == '/author/list' }">Authors</a>
    <a href="#/brand/list" data-ng-class="{ 'selected': vm.currentPath == '/brand/list' }">Brands</a>
    <a href="#/description/list" data-ng-class="{ 'selected': vm.currentPath == '/description/list' }">Descriptions</a>
    <a href="#/gallery/list" data-ng-class="{ 'selected': vm.currentPath == '/gallery/list' }">Galleries</a>
    <a href="#/photo/list" data-ng-class="{ 'selected': vm.currentPath == '/photo/list' }">Photos</a>
    <a href="#/sponser/list" data-ng-class="{ 'selected': vm.currentPath == '/sponsor/list' }">Sponsers</a>
    <a href="#/tag/list" data-ng-class="{ 'selected': vm.currentPath == '/tag/list' }">Tags</a>
</div>